<a href="https://colab.research.google.com/github/dheva85/Python-ML/blob/main/List_Tuple_Set_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Types of Objects in Python

1. Immutable Objects - values cannot be changed after created

2. Mutable objects - values can be changed after created

Immutable Objects:

- Int
- Float
- Bool
- Tuple

Mutable Objects:

- List
- Set
- Dictionary

#List

In [1]:
# List should be enclosed in [] ( square bracket)
# similar to arrays
my_list=[1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [3]:
# List can have multiple data types
my_list = [2,3,1.8,"English",True]
print(my_list)
type(my_list)

[2, 3, 1.8, 'English', True]

list

Lists are mutable -  can be changed once created

In [12]:
# Add elements to list
my_list = [2,3,1.8,"English",True]
my_list.append(6) # add element to end of list
print(my_list)

[2, 3, 1.8, 'English', True, 6]

In [10]:
#print element of list using their index
print(my_list[0])
print(my_list[2])

2
1.8

In [13]:
#Lists allow duplicate values / set does not allow duplicate values
list_1 = [1,2,3,4,5,12,2,3]
print(list_1)

[1, 2, 3, 4, 5, 12, 2, 3]

In [14]:
#check number of elements
print(len(list_1))

8

In [26]:
#initiate an empty list
list_2=[]
print(list_2)

[]

In [27]:
list_2.append(5)
print(list_2)

[5]

In [32]:
#delete an element in a list
list_2 = [2, 3, 1.8, 'English', True, 6]
print(list_2)
del list_2[2]
print(list_2)

[2, 3, 1.8, 'English', True, 6]
[2, 3, 'English', True, 6]

In [33]:
#join two list
list_3=[1,2,3,4,5]
list_4=[6,7,8,9,10]

list_5=list_3 + list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#Tuple

Tuples are immutable/unchangeable

In [35]:
tuple_1 = (2,3,4,5)
print(tuple_1)
type(tuple_1)

(2, 3, 4, 5)

tuple

In [37]:
#tuple allows multiple data types
tuple_2 = (1,2,3.5,4.6,"ML",False)
print(tuple_2)

(1, 2, 3.5, 4.6, 'ML', False)

In [38]:
from re import M
#converting list to tuple tuple()
my_list = [3,4,5,6]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [45]:
print(my_tuple[0])
print(my_tuple[1])

3
4

In [46]:
print(len(my_tuple))

4

#Set

In [49]:
# set - curly brackets {}
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [51]:
# set doesnt support indexing

In [52]:
# convert list to set set()
my_list = [3,4,5,6]
x = set(my_list)
print(x)

{3, 4, 5, 6}

In [54]:
# Set does not allow duplicate values
x={1,2,2,3,4,5,5,6,6}
print(x)
print(len(x))

{1, 2, 3, 4, 5, 6}
6

#Dictionary

Key - value Pair

In [56]:
my_dictionary = {'name':'David','age': 30,'country':'India'}
print(my_dictionary)
type(my_dictionary)

{'name': 'David', 'age': 30, 'country': 'India'}

dict

In [62]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

David
30
India

In [64]:
# Does not allow duplicate values like set ( List and Tuple allows duplicate values)
dictionary_2 = {'name':'David','age': 30,'country':'India','name':'David','age': 30,'country':'India'}
print(len(dictionary_2))

3