<a href="https://colab.research.google.com/github/dheva85/Python-ML/blob/main/Loops_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For loop and While Loop

For Loop

In [1]:
laptop1= int(input('Enter the price of Laptop : '))

Enter the price of Laptop : 20000

In [2]:
for i in range(5): #0,1,2,3,4
  laptop_price = int(input('Enter the price of Laptop : '))

Enter the price of Laptop : 2000
Enter the price of Laptop : 3000
Enter the price of Laptop : 4000
Enter the price of Laptop : 5000
Enter the price of Laptop : 6000

In [4]:
numbers = [50,100,150,200]
print(numbers)
print(numbers[0])

[50, 100, 150, 200]
50

In [5]:
numbers = [50,100,150,200]
for i in numbers:
  print(i)

50
100
150
200

While Loop

In [7]:
i = 0

while i<10:
  print(i)
  i+= 1 # i=i+1

0
1
2
3
4
5
6
7
8
9