<a href="https://colab.research.google.com/github/dheva85/Python-ML/blob/main/Operators_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operators in Python :

1. Arimethic Operators
2. Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators

# 1. Arithmetic Operators

In [1]:
num_1 = 20
num_2 = 10

# addition
sum = num_1 + num_2
print(sum)

30

In [4]:
#subtraction
diff = num_1 - num_2
print(diff)

10

In [5]:
#multiplication
multi = num_1 * num_2
print(multi)

200

In [6]:
# division
div = num_1 / num_2
print(div)

2.0

In [7]:
#exponent
exp = num_1 ** num_2
print(exp)

10240000000000

In [8]:
# modulus prints remainder of the division
mod = num_1% num_2
print(mod)

0

# 2. Assignment Operators

1. +=
2. -=
3. *=
4. /=
5. **=
6. %=

In [9]:
a = 5
print(a)

5

In [10]:
a += 5
print(a)

10

In [11]:
b = 5
b-= 2
print(b)

3

# 3. Comparison Operators

In [17]:
a=5
b=10
print(a>b)
print(a==b) # equal to
print(a!=b) # not equal to
print(a<b)
print(a<=b)
print(a>=b)

False
False
True
True
True
False

# 4. Logical Operators

1. and
2. or
3. not

In [18]:
a = 10

print(a>20 or a>5) #either one correct prints True

True

In [19]:
b= 5
print(b>10 and b>4) # both must be True to print True

False

In [20]:
print(not(a>8 and a>5)) # inverse the output if actual output True it gives False

False

# 5. Identity Operator

1. is
2. is not

In [21]:
x = 5
y = 5
print( x is  y)

True

In [22]:
x = 5
y = 6
print( x is  y)

False

In [23]:
x = 5
y = 5
print( x is not  y)

False

# 6. Membership Operator

1. in
2. not in

In [24]:
a = 5
b = 10
c = [1,2,3,4,5]
print(a in c)

True

In [25]:
a = 5
b = 10
c = [1,2,3,4,5]
print(a not in c)

False

In [26]:
a = 5
b = 10
c = [1,2,3,4,5]
print(b in c)

False